<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../Content/css/main.css" media="screen" title="no title" charset="utf-8">
</head>

<body>

    <div class="char-page hide-char">
        <form class="options">
            <p>Name:</p>
            <input type="text" name="name" value="">

            <p>Choose your character class</p>
            <select id="class">
              @foreach (var c in @Model["class"])
              {
                  <option value="@c.GetId()">@c.GetName()</option>
              }
            </select>

            <p>Choose your Weapon</p>
            @foreach (var item in @Model["item"])
            {
              if(@item.GetTypeId() == 1)
              {
            <input type="radio" id="weapon-@item.GetId()" name="weapon" value="weapon-@item.GetId()">
            <label for="weapon-@item.GetId()" class="item">
              @item.GetName()<img src="/img/briefcase.jpg" alt="" />
            </label>}
          }

            <p>Choose your Armor</p>
            @foreach (var item in @Model["item"])
            {
              if(@item.GetTypeId() == 2)
              {
            <input type="radio" id="armor-@item.GetId()" name="armor" value="armor-@item.GetId()">
            <label for="armor-@item.GetId()" class="item">
              @item.GetName()<img src="#" alt="" />
            </label>}
          }

            <p>Choose your Special</p>
            @foreach (var item in @Model["item"])
            {
              if(@item.GetTypeId() == 3)
              {
            <input type="radio" id="special-@item.GetId()" name="special" value="special-@item.GetId()">
            <label for="special-@item.GetId()" class="item">
              @item.GetName()<img src="#" alt="" />
            </label>}
          }

            <button type="submit">Create Character</button>
        </form>
        <div class="character">
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="../Content/js/main.js"></script>
</body>

</html>
