<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../Content/css/main.css" media="screen" title="no title" charset="utf-8">
</head>

<body>

    <div class="char-page hide-char">
        <form class="options">
            <p>Name:</p>
            <input type="text" name="name" class="klass">

            <h2>Choose your character class</h2>
            <select id="class">
              @foreach (var c in @Model["class"])
              {
                  <option value="@c.GetId()">@c.GetName()</option>
              }
            </select>

            <h2>Choose your Body Type</h2>

            @foreach (var item in @Model["item"])
            {
              if(@item.GetTypeId() == 4)
              {
            <input type="radio" id="bodyType-@item.GetId()" name="bodyType" data-image="@item.GetImage()" data-name="@item.GetName()">
            <label for="bodyType-@item.GetId()" class="item">
              @item.GetName()<img src="../Content/img/@item.GetImage()" alt="" />
            </label>}
          }
          <h2>Choose your Armor</h2>
          @foreach (var item in @Model["item"])
          {
            if(@item.GetTypeId() == 2)
            {
              <input type="radio" id="armor-@item.GetId()" name="armor" data-image="@item.GetImage()" data-name="@item.GetName()">
              <label for="armor-@item.GetId()" class="item">
                @item.GetName()<img src="../Content/img/@item.GetImage()" alt="" />
              </label>}
        }
            <h2>Choose your Weapon</h2>

            @foreach (var item in @Model["item"])
            {
              if(@item.GetTypeId() == 1)
              {
            <input type="radio" id="weapon-@item.GetId()" name="weapon" data-image="@item.GetImage()" data-name="@item.GetName()">
            <label for="weapon-@item.GetId()" class="item">
              @item.GetName()<img src="../Content/img/@item.GetImage()" alt="" />
            </label>}
          }

            <h2>Choose your Special</h2>
            @foreach (var item in @Model["item"])
            {
              if(@item.GetTypeId() == 3)
              {
                <input type="radio" id="special-@item.GetId()" name="special" data-image="@item.GetImage()" data-name="@item.GetName()">
                <label for="special-@item.GetId()" class="item">
                  @item.GetName()<img src="../Content/img/@item.GetImage()" alt="" />
                </label>}
          }

            <button type="submit">Create Character</button>
        </form>
        <div class="character">
          <img class="bodyType" src="" alt="" />
          <img class="armor" src="" alt="" />
          <img class="weapon" src="" alt="" />
          <img class="special" src="" alt="" />
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="../Content/js/main.js"></script>
</body>

</html>
